<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="Home" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="img-responsive" src="@Url.Content("~/images/rev_logo.png")" /></a>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">Inform</a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="Inform" asp-controller="Inform" asp-action="Index" >What to Expect at Rev</a></li>
                            <li><a asp-area="Inform" asp-controller="Inform" asp-action="WorshipSeries">Worship Series</a></li>
                            <li><a asp-area="Inform" asp-controller="Inform" asp-action="Blog">Blog</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">Connect</a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="Connect" asp-controller="Connect" asp-action="Index">How to Connect</a></li>
                            <li><a asp-area="Connect" asp-controller="Connect" asp-action="SmallGroups">Small Groups</a></li>
                            <li><a asp-area="Connect" asp-controller="Connect" asp-action="RevKids">RevKids</a></li>
                            @*<li><a asp-area="Connect" asp-controller="Connect" asp-action="Calendar">Calendar</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">Engage</a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="Engage" asp-controller="Engage" asp-action="Index">Ways to Engage</a></li>
                            <li><a asp-area="Engage" asp-controller="Engage" asp-action="Service">Serve God</a></li>
                            <li><a asp-area="Engage" asp-controller="Engage" asp-action="Contact">Contact Us</a></li>
                            <li><a href="https://revolutionumc.cloverdonations.com/kcrevolution/">Donate</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://revolutionumc.cloverdonations.com/kcrevolution/"><i class="fa fa-credit-card"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer>
            <div class="row">
                <div class="col-sm-3">
                    <img class="img img-responsive" src="@Url.Content("~/images/rev_logo.png")" />
                </div>
                <div class="col-sm-2">
                    <h5>Honest Worship</h5>
                    <ul>
                        <li><a href="#">Worship Series</a></li>
                        <li><a href="#">Podcasts</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Genuine Community</h5>
                    <ul>
                        <li><a href="#">Small Groups</a></li>
                        <li><a href="#">RevKids</a></li>
                        <li><a href="#">Calendar</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Faith in Action</h5>
                    <ul>
                        <li><a href="#">Serve the World</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Donate</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <button type="button" class="btn btn-default">Contact Us</button>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
